{% extends "base.html" %}

{% block content %}
<h3>List of Projects </h3>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Start Date</th>
        <th>Hours Spent</th>
        <th>Cost for the project</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    	{% for project in client.project_set.all %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ project.name }}</td>
        <td>{{ project.start_date }}</td>
        <td>{{ project.time_spent }}</td>
        <td>$ {{ project.get_total_cost }}</td>
        <td><a href="{% url 'project_edit' project.id %}">Edit</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
