{% extends "base.html" %}

{% block navigation %}
<li class="active"><a href="{% url 'home' %}">Home</a></li>

<li class="dropdown">
  <a href="{% url 'company_list' %}" class="dropdown-toggle" data-toggle="dropdown">
    Companies <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><a href="{% url 'company_list' %}">All Companies</a></li>
    <li><a href="{% url 'company_new' %}">Create a New Company</a></li>
  </ul>
</li>

<li class="dropdown">
  <a href="{% url 'client_list' %}" class="dropdown-toggle" data-toggle="dropdown">
    Clients <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><a href="{% url 'client_list' %}">All Clients</a></li>
    <li><a href="{% url 'client_new' %}">Create a New Client</a></li>
  </ul>
</li>

<li class="dropdown">
  <a href="{% url 'project_list' %}" class="dropdown-toggle" data-toggle="dropdown">
    Projects <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><a href="{% url 'project_list' %}">All Projects</a></li>
    <li><a href="{% url 'project_new' %}">Create a New Project</a></li>
  </ul>
</li>

<li class="dropdown">
  <a href="{% url 'technology_list' %}" class="dropdown-toggle" data-toggle="dropdown">
    Technologies <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><a href="{% url 'technology_list' %}">All Technologies</a></li>
    <li><a href="{% url 'technology_new' %}">Create a New Technology</a></li>
  </ul>
</li>

{% endblock navigation %}

{% block content %}
<h1>List of Clients</h1>
<div class="table-responsive">
  {% if object_list %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Company</th>
        <th>Projects</th>
      </tr>
    </thead>
    <tbody>
    	{% for client in object_list %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="{% url 'client_detail' client.id %}">{{ client.name }}</a></td>
        <td>{{ client.email }}</td>
        <td>{{ client.company.name }}</td>
        <td>
          <ol>
          {% for project in client.project_set.all %}
            <li><a href="{% url 'project_detail' project.id %}">{{ project.name }}</a></li>
          {% endfor %}
          </ol>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p style="text-align: center;">No Clients Found</p>
  {% endif %}

</div>
{% endblock content %}
