<li class="active"><a href="{% url 'home' %}">Home</a></li>

<li class="dropdown">
  <a href="{% url 'company_list' %}" class="dropdown-toggle" data-toggle="dropdown">
    Companies <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><a href="{% url 'company_list' %}">All Companies</a></li>
    <li><a href="{% url 'company_new' %}">Create a New Company</a></li>
  </ul>
</li>

<li class="dropdown">
  <a href="{% url 'client_list' %}" class="dropdown-toggle" data-toggle="dropdown">
    Clients <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><a href="{% url 'client_list' %}">All Clients</a></li>
    <li><a href="{% url 'client_new' %}">Create a New Client</a></li>
  </ul>
</li>

<li class="dropdown">
  <a href="{% url 'project_list' %}" class="dropdown-toggle" data-toggle="dropdown">
    Projects <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><a href="{% url 'project_list' %}">All Projects</a></li>
    <li><a href="{% url 'project_new' %}">Create a New Project</a></li>
  </ul>
</li>

<li class="dropdown">
  <a href="{% url 'daily_sprint_list' %}" class="dropdown-toggle" data-toggle="dropdown">
    Daily Sprints <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><a href="{% url 'daily_sprint_list' %}">All Daily Sprints</a></li>
    <li><a href="{% url 'daily_sprint_new' %}">Create a New Daily Sprint</a></li>
  </ul>
</li>

<li class="dropdown">
  <a href="{% url 'technology_list' %}" class="dropdown-toggle" data-toggle="dropdown">
    Technologies <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><a href="{% url 'technology_list' %}">All Technologies</a></li>
    <li><a href="{% url 'technology_new' %}">Create a New Technology</a></li>
  </ul>
</li>
